@using Entities.ForLife
@model Patient
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="newest-products-area bg-secondary section-space-default">
    <!-- Why Choose Area End Here nedir problem o yok bende sanırım link lazm -->
    <!-- Author Banner Area Start Here -->


    <div class="container">
        <div class="row">
            <div class="col-lg-12" style=" margin-top:30px;">
                <div class="col-lg-3  inner-page-padding ">
                    <aside>
                        <center> <h3> <strong> <span style="font-size:100px;">&#9888;</span> <br />Yasal Uyarılar</strong></h3>  </center>
                        <div class="inner-page-details ">
                            <p>
                                Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir. Lorem Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya kıyasla daha dengeli bir harf dağılımı sağlayarak okunurluğu artırmasıdır. Şu anda birçok masaüstü yayıncılık paketi ve web sayfa düzenleyicisi, varsayılan mıgır metinler olarak Lorem Ipsum kullanmaktadır. Ayrıca arama motorlarında 'lorem ipsum' anahtar sözcükleri ile arama yapıldığında henüz tasarım aşamasında olan çok sayıda site listelenir. Yıllar içinde, bazen kazara, bazen bilinçli olarak (örneğin mizah katılarak), çeşitli sürümleri geliştirilmiştir.
                            </p>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-9">
                    <h2 class="title-default">HASTA PROFİLİ OLUŞTUR</h2>
                    <div class="row">

                        <div class="col-lg-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet velit non lorem laoreet gravida. Nulla mollis nibh libero, vel dignissim mi aliquam sed. Quisque aliquam sem mi, ac lobortis sem vestibulum a. Mauris convallis, purus a porttitor lacinia, lorem tellus placerat arcu, eget commodo ante ante non purus. Donec dolor nisl, placerat vitae nulla a, rhoncus tristique nisi. Cras convallis nisi et vulputate porta. Phasellus at vehicula lorem, eu blandit quam. Mauris imperdiet diam eu ipsum lobortis vestibulum. Praesent rutrum ante leo, non malesuada erat volutpat id. Duis aliquam vehicula nisi, ac dapibus ex. Aenean tristique maximus diam, vel aliquam ex imperdiet a. Fusce nec sodales ipsum. Quisque congue, turpis vitae malesuada volutpat, nisl tellus efficitur eros, a aliquam sapien purus sit amet odio. Fusce molestie lacinia purus quis rutrum. Sed egestas augue id nisi fringilla, vitae aliquet massa elementum. Phasellus tristique felis non metus imperdiet, at ullamcorper nisl pretium.</p>
                        </div>
                    </div>

                    <div class="registration-page-area bg-secondary section-space-bottom">
                        <div class="container" style="width:850px;">
                            <h2 class="title-section">Registration</h2>
                            <div class="registration-details-area inner-page-padding">
                                @using (Html.BeginForm("PatientRegisterPost", "Patient", new { id = "personal-info-form" }))
                                {

                                <div class="row">
                                    @Html.AntiForgeryToken()
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="col-lg-12 ">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Photo, "Fotoğraf Ekle", htmlAttributes: new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Photo, new { type = "file" })
                                            @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-lg-12 ">
                                        <div class="form-group">
                                            <label class="control-label" for="first-name">First Name *</label>
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", id = "first-name" })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col-lg-12 ">
                                        <div class="form-group">
                                            <label class="control-label" for="last-name">Last Name *</label>
                                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", id = "last-name" })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col-lg-12 ">
                                        <div class="form-group">
                                            <label class="control-label" for="first-name">First Name *</label>
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id = "first-name" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="row" style="padding-left:15px;">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label" for="district">ForLife.com'dan nasıl haberdar oldunuz?</label>
                                                @Html.DropDownListFor(model => model.ContactChannel, (IEnumerable<SelectListItem>)
        ViewBag.ContactChannel, "Lütfen Seçiniz", new { htmlAttributes = new { @class = "form-control", id = "district" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" style=" padding-top:20px; font-size:15px;">
                                        @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.BirthDate, new { type = "datetime-local" })

                                            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="pLace-order">
                                            <div class="col-md-offset-2 col-md-10">
                                                <button class="update-btn disabled" id="btnNext1">Sonraki Sayfa</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        $("#btnNext1").click(function () {
            //Get text or inner html of the selected option
            var selectedText = $("#mySelect option:selected").html();
            alert(selectedText);
        });

        btnNext1

    </script>
}
<script></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>